<form method="POST" action="/cancel_order">
    <label>Enter Order Id </label>
    <input type="text" name="order_id"> <br><br>
    <label>Reason For cancellation</label>
    <input type="text" name="reason" >
    <button>submit</button>
</form>