<form method="POST" action="/registerorder">
    <label>Email</label>
    <input type="text" name="email" placeholder="Enter Your Email"> <br><br>
    <label>Order</label>
    <input type="text" name="order"placeholder="Your Order">
    <button>Place Order</button>
</form>